<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head"></head>
<body>
	<nav th:replace="layouts :: navbar"></nav>
	<div class="container">
		<h3>Employee Directory</h3>

		<a th:href="@{/employee/new}">New Employee</a>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.email}"></td>
					<td>
						<a th:href="@{/employee/edit/{id}(id=${employee.employeeId})}">
							<i class="material-icons">edit</i>
						</a>
						<a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}">
							<i class="material-icons grey-text">delete</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>