<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_141" class="java.beans.XMLDecoder">
 <object class="java.util.ArrayList">
  <void method="add">
   <object class="com.allan.model.AutoSample">
    <void property="browserType">
     <string>chrome</string>
    </void>
    <void property="gocs">
     <string>aaa</string>
    </void>
    <void property="ignores">
     <string>asd</string>
    </void>
    <void property="name">
     <string>aaa</string>
    </void>
    <void property="openBrowser">
     <boolean>true</boolean>
    </void>
    <void property="template">
     <string>template 1</string>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.allan.model.AutoSample">
    <void property="browserType">
     <string>chrome</string>
    </void>
    <void property="gocs">
     <string>test</string>
    </void>
    <void property="ignores">
     <string>1111</string>
    </void>
    <void property="name">
     <string>test</string>
    </void>
    <void property="openBrowser">
     <boolean>true</boolean>
    </void>
    <void property="template">
     <string>template 2</string>
    </void>
   </object>
  </void>
 </object>
</java>
