<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head"></head>
<body>
	<nav th:replace="layouts :: navbar"></nav>
	<div class="container">
		<h3>Auto TestCase Directory</h3>

		<a th:href="@{/autotestcases/new}" class="btn waves-effect waves-light">New</a> <a th:href="@{/autotestcases/export}"
			class="btn waves-effect waves-light">Export</a>

		<table class="striped bordered highlight responsive-table">
			<thead>
				<tr>
					<th>JiraKey</th>
					<th>Summary</th>
					<th>Progress</th>
					<th>TestStep</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autoTestCase : ${autoTestCases}">
					<td th:text="${autoTestCase.jiraKey}"></td>
					<td th:text="${autoTestCase.summary}"></td>
					<td th:text="${autoTestCase.stage}"></td>
					<td>
						<div th:each="autoTestStep : ${autoTestCase.autoTestSteps}">
							<div th:if="${autoTestStep.autoAction}" class="valign-wrapper row">
								<div class="col s3">
									<div th:text="${autoTestStep.autoAction.name}" class="col s6"></div>
								</div>
								<div class="col s9">
									<div th:text="${autoTestStep.autoAction.name}" class="col s6"></div>
									<div class="col s6">
										<div th:each="parameter,iterationStatus : ${autoTestStep.autoAction.parsedParameters}"
											class="chip teal lighten-2">
											<span th:text="${parameter}"></span> : <span
												th:text="${autoTestStep.parsedTestDatas.get(iterationStatus.index)}"></span>
										</div>
									</div>
								</div>

							</div>

							<div th:if="${autoTestStep.autoFlow}" class="valign-wrapper row">
								<div th:text="${autoTestStep.autoFlow.name}" class="col s3"></div>
								<div class="col s9">
									<div class="row" th:each="autoActionFlow,flowIter : ${autoTestStep.autoFlow.autoActionFlows}">
										<div th:text="${autoActionFlow.autoAction.name}" class="col s6"></div>
										<div class="col s6">
											<div th:each="parameter,iterationStatus : ${autoActionFlow.autoAction.parsedParameters}"
												class="chip teal lighten-2">
												<span th:text="${parameter}"></span> : <span th:text="${autoTestStep.parsedTestDatas.get(#ids.seq('')-1)}"></span>
												<!-- <span th:text="${#ids.seq('')}"></span> -->
											</div>
										</div>

									</div>


								</div>
							</div>
							<!-- <span>
								<span th:each="testData : ${autoTestStep.parsedTestDatas}" th:text="${testData}"></span>
							</span> -->

						</div>
					</td>
					<td><a th:href="@{/autotestcases/edit/{id}(id=${autoTestCase.autoTestCaseId})}"> <i class="material-icons">edit</i>
					</a> <a th:href="@{/autotestcases/delete/{id}(id=${autoTestCase.autoTestCaseId})}"> <i
							class="material-icons grey-text">delete</i>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>